This is for a country field. Edit the class .webform-component--country if using a different label.

<script>
// Stops keyboard-only uses entering the 'disabled' country field 
window.addEventListener("DOMContentLoaded", function () {
	const selectorField = document.querySelector(".webform-component--country > .selecter");
	selectorField.setAttribute("tabindex", "-1");
});
</script>


<style type="text/css">
	.webform-component--street-address,
	.webform-component--postcode {
		display: none;
	}

	.selecter-selected {
		background-image: none !important;
		cursor: default !important;
		background-color: #f2f1ef !important;
		color: #275573 !important;
		padding: 14.4px 10.8px !important;
		font-size: 80% !important;
	}

	.webform-component--country>label {
		font-size: 80%;
		cursor: default;
	}

	.webform-component--country>label>span,
	.webform-component--country>select,
	.selecter-options {
		display: none !important;
	}

	.selecter.open .selecter-selected,
	.selecter.focus .selecter-selected {
		box-shadow: none !important;
	}
</style>
