<!-- Read more links and buttons on new campaignion foundation theme -->

<p><a aria-controls="body-paragraph-toggled-text" aria-expanded="false" data-toggle="body-paragraph-toggled-text" role="button" type="button">Toggle a paragraph on click</a></p>

<p class="toggle-element-hidden" data-toggle-element="" id="body-paragraph-toggled-text">Paragraph that can be toggled on and off.</p>


<p><a aria-controls="body-paragraph-text-disappearing-link" aria-expanded="false" data-close="" data-open="body-paragraph-text-disappearing-link" data-toggle-element="" role="button" type="button">Read more. This link disappears on click</a></p>

<p class="toggle-element-hidden" data-toggle-element="" id="body-paragraph-text-disappearing-link">This will show up on click and can’t be closed again, the link is gone.</p>


<p><button aria-controls="body-text-toggled-by-button" aria-expanded="false" class="button small" data-toggle="body-text-toggled-by-button" role="button" type="button">Read more</button></p>

<p class="toggle-element-hidden" data-toggle-element="" id="body-text-toggled-by-button">Have a read of some more information about the issue we're talking about.</p>
