.selecter-selected {
    background-image: none !important;
    cursor: default !important;
    background-color: #f2f1ef !important;
    color: #275573 !important;
    padding: 14.4px 10.8px!important;
    font-size: 80% !important;
}

.webform-component--country > label {
    font-size: 80%;
    cursor: default;
}

.webform-component--country > label > span {
    display: none;
}
.selecter.open .selecter-selected, .selecter.focus .selecter-selected {
    box-shadow: none !important;
}

.selecter-options {
    display: none !important;
}
